@page "/profile"
@using SchoolData.Models
@using SchoolClient.Services
@inject HttpService HttpService
@inject NavigationManager NavigationManager
<h3><b>Profile</b></h3>

@code {
    UserModel _userModel = new UserModel();
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
                _userModel = await HttpService.GetProfile();
                StateHasChanged();
            
        }
    }
}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Profile</title></head>
<body>
<header>
    <div class="profile-header">
        <img src="user.png" alt="Profile Picture">
        <h1>@_userModel.Firstname  @_userModel.Lastname</h1>
        <p>@_userModel.BornDate</p>
    </div>
</header>

<main>
    <section class="profile-details">
        <h2>Personal Details</h2>
        <ul>
            <li><strong>Name:</strong> @_userModel.Firstname @_userModel.Lastname</li>
            <li><strong>Username:</strong> @_userModel.Username</li>
            <li><strong>Username:</strong> @_userModel.BornDate</li>
        </ul>
    </section>

</main>

<footer>
    <nav>
        <ul>
            <Button class="btn btn-primary" Clicked="LogOut">Log out</Button>
        </ul>
    </nav>
   
</footer>
</body>
</html>

@code{

    async Task LogOut()
    {
        await HttpService.LogoutAsync();
        NavigationManager.NavigateTo("/login");
    }
}