@page "/taskManager/{item}"
@using SchoolClient.Services
@using SchoolData.Models.TaskModels
@using System.Text.Json
@inject HttpService HttpService
@inject NavigationManager NavigationManager
<h3>TaskManager</h3>

@code {
    [Parameter]
    public string item { get; set; }

    List<TaskModel> taskModels = new List<TaskModel>();
    int subjectId;
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
         subjectId = JsonSerializer.Deserialize<int>(Uri.UnescapeDataString(item));
        if (firstRender)
        {
            taskModels = await HttpService.GetEntitiesFromApi<TaskModel>("https://localhost:7251/api/Tasks", subjectId);
        }
        StateHasChanged();
    }
}


<Table>
    <TableHeader ThemeContrast="ThemeContrast.Dark">
        <TableRow>
            <TableHeaderCell>#</TableHeaderCell>
            <TableHeaderCell>Task title</TableHeaderCell>
            <TableHeaderCell>Task description</TableHeaderCell>
            <TableHeaderCell>Total status</TableHeaderCell>
            <TableHeaderCell>Start date</TableHeaderCell>
            <TableHeaderCell>End date</TableHeaderCell>
            <TableHeaderCell>Max grade</TableHeaderCell>
            <TableHeaderCell>Task responses</TableHeaderCell>
            <TableHeaderCell>Edit task details</TableHeaderCell>
            <TableHeaderCell><Button Color="Color.Primary" Clicked="() => ShowModal(1)">Create task</Button></TableHeaderCell>
        </TableRow>
    </TableHeader>
    <TableBody>
        @foreach (var task in taskModels)
        {
            <TableRow>
                <TableRowHeader>@task.Id</TableRowHeader>
                <TableRowCell>@task.TaskTitle</TableRowCell>
                <TableRowCell>@task.TaskDescription</TableRowCell>
                <TableRowCell>@task.TaskStatus</TableRowCell>
                <TableRowCell>@task.StartDate</TableRowCell>
                <TableRowCell>@task.EndDate</TableRowCell>
                <TableRowCell>@task.MaxGrade</TableRowCell>
                <TableRowCell><button class="btn btn-primary" @onclick="() => Navigate(task.Id)">Responses</button></TableRowCell>
                <TableRowCell><Button Color="Color.Primary" Clicked="() => ShowEditModal(task)">Edit Task Deatils</Button></TableRowCell>
                <TableRowCell></TableRowCell>
            </TableRow>
        }
    </TableBody>
</Table>

                
                
<Modal @ref="modalRef">
    <ModalContent Centered>
        <EditForm Model="@_createTaskModel" >
            <DataAnnotationsValidator />
            <ModalHeader>
                <ModalTitle>Add task</ModalTitle>
                <CloseButton/>
            </ModalHeader>
            <ModalBody>
                <Field>
                    <FieldLabel>Title</FieldLabel>
                    <InputText @bind-Value="@_createTaskModel.TaskTitle" Placeholder="Task title"/>
                    <ValidationMessage For="@(() => _createTaskModel.TaskTitle)" />
                </Field>
                <Field>
                    <FieldLabel>Description</FieldLabel>
                    <InputText @bind-Value="@_createTaskModel.TaskDescription" Placeholder="Enter description..."/>
                    <ValidationMessage For="@(() => _createTaskModel.TaskDescription)" />
                </Field>
                <Field>
                    <FieldLabel>Start date</FieldLabel>
                    <InputDate @bind-Value="@_createTaskModel.StartDate" Placeholder="Start date" />
                    <ValidationMessage For="@(() => _createTaskModel.StartDate)" />
                </Field>
                <Field>
                    <FieldLabel>End date</FieldLabel>
                    <InputDate @bind-Value="@_createTaskModel.EndDate" Placeholder="End date" />
                    <ValidationMessage For="@(() => _createTaskModel.EndDate)" />
                </Field>
                <Field>
                    <FieldLabel>Max grade</FieldLabel>
                    <InputNumber @bind-Value="@_createTaskModel.MaxGrade" Placeholder="Max grade" />
                    <ValidationMessage For="@(() => _createTaskModel.MaxGrade)" />
                </Field>
            </ModalBody>
            <ModalFooter>
                <Button Color="Color.Secondary" Clicked="@HideModal">Close</Button>
                <Button Color="Color.Primary" Clicked="HandleValidSubmit">Save Changes</Button>
            </ModalFooter>
        </EditForm>
    </ModalContent>

</Modal>       

<Modal @ref="editModal">
    <ModalContent Centered>
        <EditForm Model="@_createTaskModel">
            <DataAnnotationsValidator />
            <ModalHeader>
                <ModalTitle>Edit subject</ModalTitle>
                <CloseButton/>
            </ModalHeader>
            <ModalBody>
                <Field>
                    <FieldLabel>Title</FieldLabel>
                    <InputText @bind-Value="@_updateTaskModel.TaskTitle" Placeholder="Task title" />
                    <ValidationMessage For="@(() => _updateTaskModel.TaskTitle)" />
                </Field>
                <Field>
                    <FieldLabel>Description</FieldLabel>
                    <InputText @bind-Value="@_updateTaskModel.TaskDescription" Placeholder="Enter description..." />
                    <ValidationMessage For="@(() => _updateTaskModel.TaskDescription)" />
                </Field>
                <Field>
                    <FieldLabel>Max grade</FieldLabel>
                    <InputNumber @bind-Value="@_updateTaskModel.MaxGrade" Placeholder="Max grade" />
                    <ValidationMessage For="@(() => _updateTaskModel.MaxGrade)" />
                </Field>
            </ModalBody>
            <ModalFooter>
                <Button Color="Color.Secondary" Clicked="@HideModal">Close</Button>
                <Button Color="Color.Primary"  Clicked="@OnSave">Save Changes</Button>
            </ModalFooter>
        </EditForm>
    </ModalContent>

</Modal>

                    
@code {

    readonly CreateTaskModel _createTaskModel = new CreateTaskModel();
    UpdateTaskModel _updateTaskModel = new UpdateTaskModel();

    // reference to the modal component
    private Modal modalRef;
    private Modal editModal;


    private async Task ShowModal(int id)
    {
        await modalRef.Show();
        StateHasChanged();
    }

    private async Task OnSave()
    {
        _updateTaskModel.SubjectId = subjectId;
        var response = await HttpService.Update($"https://localhost:7251/api/Tasks/{subjectId}", _updateTaskModel);
        //await Update(selectedModel);
        await editModal.Hide();
        StateHasChanged();
    }
    private async Task ShowEditModal(TaskModel model)
    {
        await editModal.Show();
        _updateTaskModel.TaskId = model.Id;
    }

    private async Task HideModal()
    {
        await modalRef.Hide();
    }

    private async Task HandleValidSubmit()
    {

        var response = await HttpService.Post($"https://localhost:7251/api/Tasks/{subjectId}", _createTaskModel);
        /*if (response.StatusCode == HttpStatusCode.OK)
        {
            NavigationManager.NavigateTo($"/taskManager/{Uri.EscapeDataString(subjectId.ToString())}");
        }*/
        await modalRef.Hide();
    }

    private void Navigate(int subjectId)
    {
        NavigationManager.NavigateTo($"/responseManager/{Uri.EscapeDataString(subjectId.ToString())}");
    }

}